# Configuración de Variables de Entorno para SEGURIDAD PERÚ
SUPABASE_URL=https://hxkeheonfeqjftbnymdg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4a2VoZW9uZmVxamZ0Ym55bWRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3OTQyOTQsImV4cCI6MjEwMzM3MDI5NH0.xo03Gxry6mxn2lYun3oW35wXr8Utx1YZV12nH17W7xY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4a2VoZW9uZmVxamZ0Ym55bWRnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Nzc5NDI5NCwiZXhwIjoyMTAzMzcwMjk0fQ.Q3cAu8MElNiqB_kEV534GBzF_pvgnmzRNP4bZ_14Exs
GOOGLE_MAPS_API_KEY=AIzaSyCJ3ihp8E2H4kD_91iiVMwglv0KMUgQfbw
